/.idea/
src/main/webapp/resources/js/jquery-3.1.0.js
/restaurant.iml
/src/main/webapp/resources/js/bootstrap.js
/src/main/webapp/resources/css/bootstrap.css
/src/main/webapp/resources/css/bootstrap.css.map
/src/main/webapp/resources/css/bootstrap-theme.css
/src/main/webapp/resources/css/bootstrap-theme.css.map
/src/main/webapp/resources/fonts/
